---
import '../../assets/app.css'
import AboutHeadacheOS from '../../components/About'
---

<html lang="en">
  <body class="flex items-center justify-center bg-base-200 min-h-screen">
    <AboutHeadacheOS client:load />
  </body>
</html>
