---
import BrowserWiki from '../../components/BrowserWiki.jsx';
import '../../assets/app.css'
---

<html lang="en">
  <body class="bg-[#282a36] flex items-center justify-center w-screen h-screen overflow-hidden">
    <div class="w-[600px] h-[600px] bg-dracula rounded-md shadow-xl overflow-hidden">
      <BrowserWiki client:load />
    </div>
  </body>
</html>