---
import CoolCalculator from '../../components/Calculator.jsx';
import '../../assets/app.css';
---

<html lang="en">
  <body class="w-full h-full overflow-hidden">
    <CoolCalculator client:load />
  </body>
</html>
