---
import FutureClock from '../../components/FutureClock.jsx';
import '../../assets/app.css'
---

<html lang="en">
  <body class="bg-[#282a36] flex items-center justify-center w-screen h-screen overflow-hidden">
    <div class="w-[600px] h-[400px] bg-dracula rounded-md shadow-xl overflow-hidden">
      <FutureClock client:load />
    </div>
  </body>
</html>
