---
import '../../assets/app.css'
import MusicPlayer from '../../components/MusicPlayer';
---

<html lang="en">
  <body class="flex items-center justify-center bg-base-200 min-h-screen overflow-hidden">
    <MusicPlayer client:load />
  </body>
</html>
