---
import '../../assets/app.css'
import PythonRunner from '../../components/PythonRunner'
---

<html data-theme="caramellatte" lang="en">
  <body class="flex items-center justify-center bg-base-200 min-h-screen overflow-auto">
    <PythonRunner client:only="react" />
  </body>
</html>
