---
import WallpaperSettings from '../../components/WallpaperSettings.jsx';
import '../../assets/app.css'
---

<html lang="en">
  <body class="flex items-center justify-center bg-base-200 min-h-screen overflow-hidden">
    <WallpaperSettings client:load />
  </body>
</html>
